.grocery-list-main {
  background-color: #2f302d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

button:focus, input:focus{
    outline: none;
}